<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>新建项目</title>
    <link rel="stylesheet" type="text/css" href="/css/new.css">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script>
        function isnull(val)
        {
            if (val == ""|| val == undefined)
            {
                return 1;
            } else
            {
                return 0;
            }
        }

        function save() {
            start_year = $("#start_year option:selected").text();
            start_month = $("#start_month option:selected").text();
            start_day = $("#start_day option:selected").text();
            starttime = start_year + "-"+ start_month + "-" + start_day;

            end_year = $("#end_year option:selected").text();
            end_month = $("#end_month option:selected").text();
            end_day = $("#end_day option:selected").text();
            endtime = end_year + "-"+ end_month + "-" + end_day;

            projectname = $("#projectname").val().replace(/\s/ig,"");
            member = $("#member").val().replace(/\s/ig,"");
            projectmessage = $("#projectmessage").val().replace(/\s/ig,"");
            projectstate = $("input:radio:checked").val();

            data = "projectname="+projectname+"&member="+member+"&projectmessage="+projectmessage+
                    "&starttime="+starttime+"&endtime="+endtime+"&projectstate="+projectstate;

            var s1,s2,s3,s4,s5,s6 = false;

            if(isnull(start_year)||isnull(start_month)||isnull(start_day)){
                $("#mess_start").text("*");
                s1 = false;
            } else{
                $("#mess_start").text(null);
                s1 = true;
            }

            if (isnull(end_year)||isnull(end_month)||isnull(end_day)) {
                $("#mess_end").text("*");
                s2 = false;
            } else{
                $("#mess_end").text(null);
                s2 = true;
            }

            if (isnull(projectname)){
                $("#projectname").css("border-color","red");
                s3 = false;
            } else{
                $("#projectname").css("border-color","black");
                s3 = true;
            }

            if (isnull(member)){
                $("#member").css("border-color","red");
                s4 = false;
            } else{
                $("#member").css("border-color","black");
                s4 = true;
            }

            if (isnull(projectmessage)){
                $("#projectmessage").css("border-color","red");
                s5 = false;
            } else{
                $("#projectmessage").css("border-color","black");
                s5 = true;
            }

            if (isnull(projectstate)){
                $("#mess_state").text("*");
                s6 = false;
            } else{
                $("#mess_state").text(null);
                s6 = true;
            }

            if(s1&&s2&&s3&&s4&&s5&&s6){
                $.ajax({
                    type: "post",
                    url: "/program_new",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    data: data,
                    dataType: "text",
                    success: function (site) {
                        if (site == "Y"){
                            alert("创建成功！");
                            window.location.replace("/program")
                        }
                    }
                });
            }
        }
    </script>
</head>
<body>
<div class="background">
    <img src="/picture/background.jpg">

    <div class="guide">
        欢迎使用317财务管理系统
        <a href="/home">
            <div class="home_logo">
                <img src="/picture/home_logo.png">
                <span>主页</span>
            </div>
        </a>

        <!--<a href="/index">
            <div class="logout_logo">
                <img src="/picture/exit_logo.png">
                <span>退出</span>
            </div>
        </a>-->
    </div>

    <div class="programnew">
        <div class="programnew_title">创建项目</div>
        <form method="post">
            <span id="mess_start" class="start_empty"></span>
            <div class="programnew_start">
                起始日期：
                <select id="start_year">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                    <option value="year">2018</option>
                    <option value="year">2019</option>
                    <option value="year">2020</option>
                </select> &nbsp; 年 &nbsp;
                <select id="start_month">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                    <option value="month">01</option>
                    <option value="month">02</option>
                    <option value="month">03</option>
                    <option value="month">04</option>
                    <option value="month">05</option>
                    <option value="month">06</option>
                    <option value="month">07</option>
                    <option value="month">08</option>
                    <option value="month">09</option>
                    <option value="month">10</option>
                    <option value="month">11</option>
                    <option value="month">12</option>
                </select> &nbsp; 月 &nbsp;
                <select id="start_day">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                    <option value="day">01</option>
                    <option value="day">02</option>
                    <option value="day">03</option>
                    <option value="day">04</option>
                    <option value="day">05</option>
                    <option value="day">06</option>
                    <option value="day">07</option>
                    <option value="day">08</option>
                    <option value="day">09</option>
                    <option value="day">10</option>
                    <option value="day">11</option>
                    <option value="day">12</option>
                    <option value="day">13</option>
                    <option value="day">14</option>
                    <option value="day">15</option>
                    <option value="day">16</option>
                    <option value="day">17</option>
                    <option value="day">18</option>
                    <option value="day">19</option>
                    <option value="day">20</option>
                    <option value="day">21</option>
                    <option value="day">22</option>
                    <option value="day">23</option>
                    <option value="day">24</option>
                    <option value="day">25</option>
                    <option value="day">26</option>
                    <option value="day">27</option>
                    <option value="day">28</option>
                    <option value="day">29</option>
                    <option value="day">30</option>
                    <option value="day">31</option>
                </select> &nbsp; 日 &nbsp;
            </div>
            <span id="mess_end" class="end_empty"></span>
            <div class="programnew_end">
                项目期限：
                <select id="end_year">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                    <option value="year">2018</option>
                    <option value="year">2019</option>
                    <option value="year">2020</option>
                </select> &nbsp; 年 &nbsp;
                <select id="end_month">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                    <option value="month">01</option>
                    <option value="month">02</option>
                    <option value="month">03</option>
                    <option value="month">04</option>
                    <option value="month">05</option>
                    <option value="month">06</option>
                    <option value="month">07</option>
                    <option value="month">08</option>
                    <option value="month">09</option>
                    <option value="month">10</option>
                    <option value="month">11</option>
                    <option value="month">12</option>
                </select> &nbsp; 月 &nbsp;
                <select id="end_day">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                    <option value="day">01</option>
                    <option value="day">02</option>
                    <option value="day">03</option>
                    <option value="day">04</option>
                    <option value="day">05</option>
                    <option value="day">06</option>
                    <option value="day">07</option>
                    <option value="day">08</option>
                    <option value="day">09</option>
                    <option value="day">10</option>
                    <option value="day">11</option>
                    <option value="day">12</option>
                    <option value="day">13</option>
                    <option value="day">14</option>
                    <option value="day">15</option>
                    <option value="day">16</option>
                    <option value="day">17</option>
                    <option value="day">18</option>
                    <option value="day">19</option>
                    <option value="day">20</option>
                    <option value="day">21</option>
                    <option value="day">22</option>
                    <option value="day">23</option>
                    <option value="day">24</option>
                    <option value="day">25</option>
                    <option value="day">26</option>
                    <option value="day">27</option>
                    <option value="day">28</option>
                    <option value="day">29</option>
                    <option value="day">30</option>
                    <option value="day">31</option>
                </select> &nbsp; 日 &nbsp;
            </div>

            <div class="programnew_name">
                项目名称：<input type="text" class="input" name="projectname" id="projectname" size="35" style="position: absolute;left: 85px;top: 5px">
            </div>

            <div class="programnew_member">
                参与人员：<input type="text" class="input" name="member" id="member" size="35" style="position: absolute;left: 85px;top: 5px">
            </div>
            <div class="programnew_message">
                项目信息：
                <textarea name="projectmessage" class="input" id="projectmessage" style="width: 395px; height: 144px; resize: none"></textarea>
            </div>
            <span id="mess_state" class="state_empty"></span>
            <div class="programnew_state">
                项目状态：
                &nbsp; &nbsp;&nbsp;
                未结项 <input type="radio"  name="projectstate"  value="N">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                已结项 <input type="radio"  name="projectstate"  value="Y">
            </div>
            <div class="programnew_button">
                <input type="button" value="保存" style="position: absolute; left: 110px" onclick="save()">
            </div>
        </form>
        <button class="cancel" onclick="window.location.href='/program'">取消</button>
    </div>

</div>
</body>
</html>