<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css">
    <script th:src="@{/js/layui/layui.js}"></script>
</head>
<body bgcolor="#444444">
<i class="layui-icon layui-icon-location" style="font-size: 80px; color: #e6e6e6;align:center;"></i>
<div align="center">
    <h1>&nbsp</h1>
    <h1>&nbsp</h1>
    <h1>&nbsp</h1>
    <p style="font-weight:bold;font-size:40px;color:#eb602e;font-family: 微软雅黑">
        管理员权限才可以访问
    </p>
    <h1>&nbsp</h1>
    <h2 style="color: #e6e6e6;font-family: 微软雅黑">
        <a th:href="@{/home}">返回主页</a>
    </h2>

    <h1>&nbsp</h1>
    <h1>&nbsp</h1>
    <h1>&nbsp</h1>
    <p style="color: #e6e6e6;font-family: 微软雅黑">317财务管理系统</p>
</div>

</body>
</html>