<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>项目管理</title>
    <link rel="stylesheet" type="text/css" href="/css/program.css">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script>
        var projectname = null;

        function load() {
            $.ajax({
                type: "post",
                url: "/project",
                data: {},
                dataType:'json',
                success: function (data) {
                    $.each(data, function (i, val)
                    {
                        create_div(val, i);
                    });
                }
            });
        }

        function create_div(item, num) {
            content = document.getElementById("List");
            create_Div = document.createElement("div");
            ul = document. createElement('ul');
            content.appendChild(create_Div);
            create_Div.appendChild(ul);
            create_Div.style.position = "absolute";
            create_Div.style.top = (num * 260 + 70) + "px";
            create_Div.style.height = "200px";
            create_Div.innerHTML = '<ul class="programList_content">' +
                '<li style="line-height: 30px">' + "项目名称：" + item.projectname + '</li>' +
                '<li style="line-height: 30px">' + "项目人员：" + item.member + '</li>' +
                '<li style="line-height: 30px">' + "项目信息：" + item.projectmessage + '</li>' +
                '<li style="line-height: 30px">' + "起始日期：" + item.starttime + '</li>' +
                '<li style="line-height: 30px">' + "截止日期：" + item.endtime + '</li>' +
                '<li style="line-height: 30px">' + "项目状态：" + item.projectstate + '</li>' +
                '<button class="alter" id="alter" onclick="alter(this)">修改</button>' +
                '<button class="graph" id="graph" name="graph" onclick="graph(this)">花销图表</button>' +
                '</ul>';
            content.style.height = (330 + 260 * num) + "px";
            var button = document.getElementById("graph");
            button.setAttribute("id", item.id);
            button.setAttribute("name", item.projectname);
            var button = document.getElementById("alter");
            button.setAttribute("id", item.id);
        }

        function graph(element) {
            console.log(element);
            window.location.href='/secondpage/graph';
            window.sessionStorage.setItem('id',element.id);
            window.sessionStorage.setItem('projectname', element.name);
        }

        function alter(element) {
            window.location.href='/secondpage/alter';
            window.sessionStorage.setItem('id',element.id);
        }
    </script>
</head>
<body>
<div class="background">
    <img src="/picture/background.jpg">

    <div class="guide">
        欢迎使用317财务管理系统
        <a th:href="@{/home}">
            <div class="home_logo">
                <img src="/picture/home_logo.png">
                <span>主页</span>
            </div>
        </a>
    </div>

    <div class="programList" id="List">
        <div class="programList_title">项目管理</div>
        <a th:href="@{/secondpage/new}">
            <div class="new">
                <img src=" /picture/add_logo.png">
                <span>新建项目</span>
            </div>
        </a>
    </div>
</div>
<script>
    load();
</script>
</body>
</html>