<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>usermanager</title>
</head>
<body>
<div style="text-align: center">
    <h1>&nbsp;</h1>
    <button onclick="window.location.href='/secondpage/user_control'" style="width: 600px;height: 40px;background-color: royalblue;">
        用户权限控制
    </button>
    <h3>&nbsp;</h3>
    <button onclick="window.location.href='/secondpage/user_information'" style="width: 600px;height: 40px;background-color: royalblue">
        用户信息录入
    </button>
</div>
</body>
</html>