<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/user_control.css">
</head>
<body class="background">
    <script src="../../static/js/jquery-3.3.1.js"></script>
    <div>
        <h3>欢迎用户：<input type="text" name="user" value="" id="user_name" disabled="true">登陆</h3>
    </div>
    <div>
        <h4>用户列表</h4>
    </div>
    <form action="" method="post" class="form4">
        <table>
        </table>
    </form>
    <div  style="background:#ff6700; width: 600px; height: 400px;position: absolute;top: 30%;left:30%; display:none " class="userInfo">
        <h2>个人信息设置</h2>
        <form action="" methd="get" id="form5">
            <table>
                <tr>
                    <td>
                        姓名：<input type="text" name="stu_name" />
                    </td>
                    <td>
                        性别：<input type = "radio" name="sex" value="male">男 <input type = "radio"name="sex" value="female">女
                    </td>
                </tr>
                <tr>
                    <td>
                        学号：<input type="text" name="sutdentid" />
                    </td>
                    <td>
                        导师姓名：<input type="text" name="teacher_name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        专业名称：<input type="text" name="major_name" />
                    </td>
                    <td>
                        班级：<input type="text" name="class_num" />
                    </td>
                </tr>
                <tr>
                    <td>
                        备注 <textarea cols ="35" row="10" name= "beizhu "></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="save">保存</button>
                    </td>
                    <td>
                        <button type="button" id="cancel">取消</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div  style="background:#ff6700; width: 600px; height: 400px;position: absolute;top: 30%;left:30%; display:none; " class="authoritySet">
        <h2>用户权限设置</h2>
        <table>
            <tr>
                <td>
                    设为管理员权限:<input type="radio" name="authority" value="管理管权限"/>
                </td>
            </tr>
            <tr>
                <td>
                    设为普通用户权限:<input type="radio" name="authority" value="普通用户权限"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" name="operation" value="confirm" id="btnconfirm" >确认</button>
                </td>
                <td>
                    <button type="button" name="operation" value="cancel" id="btncancel">取消</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="../../static/js/user_control.js"></script>
</body>